<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>Contact Read</title>
    <link
      href="/static/css/temba-components.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,500"
      rel="stylesheet"
    />
    <link href="/demo/static/css/styles.css" rel="stylesheet" type="text/css" />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .read-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0 20px 20px;
        box-sizing: border-box;
      }

      temba-card-layout {
        flex-grow: 1;
        min-height: 0;
      }

    </style>
  </head>
  <body>
    <temba-store
      completion="/api/v2/completion.json"
      fields="/api/v2/fields.json"
      globals="/api/v2/globals.json"
      groups="/api/v2/groups.json"
      labels="/api/v2/labels.json"
    ></temba-store>

    <div class="read-page">
      <temba-page-header
        header-title="Ben Haggerty"
        content-menu-endpoint="/demo/components/contact-read/data/contact-menu.json"
      ></temba-page-header>

      <temba-card-layout id="layout">
        <temba-contact-chat
          slot="main"
          contact="contact-1"
          endpoint="/api/v2/contacts.json?uuid="
        ></temba-contact-chat>

        <temba-card id="card-details" label="Details" icon="info">
          <temba-contact-details
            contact="contact-1"
            endpoint="/api/v2/contacts.json?uuid="
          ></temba-contact-details>
        </temba-card>
        <temba-card id="card-fields" label="Fields" icon="fields">
          <temba-contact-fields
            contact="contact-1"
            endpoint="/api/v2/contacts.json?uuid="
          >
            <div slot="empty">No fields set.</div>
          </temba-contact-fields>
        </temba-card>
        <temba-card id="card-nextup" label="Next Up" icon="schedule">
          <temba-contact-timeline contact="contact-1"></temba-contact-timeline>
        </temba-card>
        <temba-card id="card-notepad" variant="note" label="Notepad" icon="notes" activity bleed>
          <temba-contact-notepad
            contact="contact-1"
            endpoint="/api/v2/contacts.json?uuid="
            autogrow
          ></temba-contact-notepad>
        </temba-card>
      </temba-card-layout>
    </div>

    <script type="module">
      import '/out-tsc/temba-modules.js';

      document
        .querySelector('#layout')
        .addEventListener('temba-order-changed', (event) => {
          console.log('order changed', event.detail.ids);
        });
    </script>
  </body>
</html>
