# General
*~
.DS_Store
.vscode/
.devcontainer

# AI
.claude/
CLAUDE.md
CODEX.md
AGENTS.md

# Node
/node_modules
/npm-debug.log

# Project specific
/dist/
/out-tsc/
/coverage/
/screenshots/test
/screenshots/diff/
/static/svg/work/
