## editors
/.idea
/.vscode

## system files
.DS_Store

CLAUDE.md
start.sh

## npm
/node_modules/
/.pnpm-store/
/npm-debug.log

## testing
/coverage/
/screenshots/test

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/


# svg working directory
/static/svg/work/

# dont check in diffs
/screenshots/diff/

# codex local artifacts
CODEX.md
