<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <title>Text Input Examples</title>
    <link
      href="/static/css/temba-components.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,500"
      rel="stylesheet"
    />
    <link
      href="../../styles.css"
      rel="stylesheet"
      type="text/css"
    />
</head>
<body>
    <h1>Text Input Examples</h1>
    <p><a href="../../index.html">← Back to main demo</a> | <a href="completion.html">Completion Examples</a></p>
    
    <div class="example">
        <h3>Basic Text Input</h3>
        <p>A simple text input field</p>
        <temba-textinput value="plain text"></temba-textinput>
    </div>

    <div class="example">
        <h3>Text Input with Label and Help</h3>
        <p>A text input with label, help text, and placeholder</p>
        <temba-textinput
            name="start"
            label="Start Time"
            help_text="This is something you should think long and hard about"
            placeholder="Put something down, for real"
            value="2020-11-28 15:03"
            clearable
            datetimepicker
        ></temba-textinput>
    </div>

    <div class="example">
        <h3>Empty Text Input</h3>
        <p>A text input with just a placeholder</p>
        <temba-textinput placeholder="Enter some text here"></temba-textinput>
    </div>

    <div class="example">
        <h3>Clearable Text Input</h3>
        <p>A text input that can be cleared</p>
        <temba-textinput value="This can be cleared" clearable></temba-textinput>
    </div>

    <script type="module">
      import '../../out-tsc/temba-modules.js';
    </script>
</body>
</html>