<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>Flow Editor</title>
    <link
      href="/static/css/temba-components.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,400,500"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      temba-store {
        display: none;
      }
      temba-flow-editor {
        width: 100%;
        height: 100vh;
      }
      temba-store {
        display: none;
      }
      temba-flow-editor {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <temba-store></temba-store>
    <temba-flow-editor id="flow-editor"></temba-flow-editor>

    <script type="module">
      import '/out-tsc/temba-modules.js';

      // Get flow parameter from URL, default to 'sample-flow'
      const urlParams = new URLSearchParams(window.location.search);
      const flowName = urlParams.get('flow') || 'sample-flow';

      // Set the flow attribute on the editor
      document.getElementById('flow-editor').setAttribute('flow', flowName);
    </script>
  </body>
</html>
