name: 'build' 

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3
      - run: docker network create --driver bridge textit_default
      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          runCmd: yarn test
          push: never
          env: |
            CI=true

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: screenshots
          path: screenshots/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: coverage/lcov.info