name: Publish to NPM

on:
  push:
    tags:
      - '*'
permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
      - run: docker network create --driver bridge textit_default
      - name: Build and publish from dev container
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            yarn run build
            npm publish --provenance --access public
          push: never
          env: |
            CI=true
            NPM_CONFIG_PROVENANCE=true
            ACTIONS_ID_TOKEN_REQUEST_TOKEN=${{ env.ACTIONS_ID_TOKEN_REQUEST_TOKEN }}
            ACTIONS_ID_TOKEN_REQUEST_URL=${{ env.ACTIONS_ID_TOKEN_REQUEST_URL }}
