name: Publish to NPM

on:
  push:
    tags:
      - '*'
permissions:
  id-token: write
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
      - run: docker network create --driver bridge textit_default
      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          runCmd: yarn run build
          push: never
          env: |
            CI=true
      - name: Publish
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
          npm publish --access public
        env:
          CI: true
