name: Publish to NPM

on:
  push:
    tags:
      - '*'
permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
      - run: docker network create --driver bridge textit_default
      - name: Build in dev container
        uses: devcontainers/ci@v0.3
        with:
          runCmd: yarn run build
          push: never
          env: |
            CI=true
      - name: Setup Node for NPM publishing
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish to NPM
        run: npm publish --provenance --access public
