name: Publish to NPM

on:
  push:
    tags:
      - '*'
permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
      - run: docker network create --driver bridge textit_default
      - name: Build in dev container
        uses: devcontainers/ci@v0.3
        with:
          runCmd: yarn run build
          push: never
          env: |
            CI=true
      - name: Check build output
        run: ls -la && ls -la dist/ || echo "No dist folder"
      - name: Publish to NPM
        run: |
          npm config set provenance true
          npm publish --access public
